.root {
  @apply inline-flex items-center justify-center px-10 py-4 text-lg font-bold leading-6 text-center text-white uppercase transition duration-150 ease-in-out bg-gray-800 border border-transparent rounded-md shadow-md cursor-pointer;
}

.root:hover {
  @apply  border;
}

.root:focus {
  @apply outline-none ;
}

.root[data-active] {
  @apply bg-gray-600;
}

.loading {
  @apply cursor-not-allowed bg-accents-1 text-accents-3 border-accents-2;
}

.slim {
  @apply py-2 normal-case transform-none;
}

.disabled,
.disabled:hover {
  @apply cursor-not-allowed text-accents-4 border-accents-2 bg-accents-1;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
